HostMiddleware/__pycache__/**
HostMiddleware/APIs/__pycache__/**
HostMiddleware/APIs/v0/__pycache__/**
.DS_Store
*.o
*.d
*.so
*/.vscode/**
*.zip
init
HostMiddleware/Makefile
HostMiddleware/BPMMiddleware
HostMiddleware/flask_session/**
