* {
    box-sizing: border-box;
}

body {
    width: 450px;
    height: 450px;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 48%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

/* Column divider */
.column-divider {
    border-left: 2px solid rgb(170, 170, 170);
    height: 430px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 60px;
    margin-left: -10px;
    top: 0;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    text-align: center;
}

.pass-item-list {
    border: 1px solid rgb(199, 199, 199);
    position: relative;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
